* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 800px) {
  /* .container {
    display: grid;
    grid-template-areas:
      "header"
      " home "
      " img ";
    grid-template-rows: 1fr 2fr 2fr;
  } */
  /* .sideimg {
    grid-area: img;
    margin-top: 0px;
    padding-left: 10px;
  } */
  .header {
    width: 10vw;
  }
  .logo {
    display: none;
  }
}
body {
  background: #081b29;
  color: antiquewhite;
}
.header {
  grid-area: header;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 25px;
  color: antiquewhite;
  text-decoration: none;
  font-weight: 600;
}
.navbar a {
  font-size: 18px;
  color: antiquewhite;
  text-decoration: none;
  font-weight: 400;
  margin-left: 35px;
  justify-content: baseline;
}
.home {
  grid-area: home;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
}
.home-content {
  max-width: 600px;
}
.home-content h1 {
  font-size: 56px;
  font-family: 600;
}
.home-content h3 {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 700;
  color: rgb(4, 131, 131);
}
.home-content p {
  margin-top: 10px;
  font-size: 16px;
}
.home-content .btn-box {
  width: 345px;
  height: 50px;
  justify-content: space-between;
  display: flex;
}
.btn-box a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: rgb(4, 131, 131);
  border: 2px solid rgb(4, 131, 131);
  border-radius: 8px;
  font-size: 19px;
  color: #081b29;
  letter-spacing: 1px;
  font-weight: 600;
}
.sideimg {
  display: flex;
  align-items: center;
  padding: 0 60%;
  margin-top: -38%;
  grid-area: img;
}
@media (max-width: 800px) {
  .sideimg {
    padding: 25% 10%;
  }
}
img {
  /* grid-area: img; */
  border-radius: 1%;
}
